source https://api.nuget.org/v3/index.json
framework: net5.0
storage: none

nuget FSharp.Core ~> 5.0
nuget Colorful.Console ~> 1.2
nuget ShellProgressBar ~> 4.2

group Tests
    storage: none
    source https://api.nuget.org/v3/index.json
    nuget Expecto
    nuget YoloDev.Expecto.TestSdk

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget Fake.Core.UserInput
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Tools.Git
