source https://api.nuget.org/v3/index.json
framework: net6.0
storage: none

nuget FSharp.Core ~> 6.0
nuget ShellProgressBar ~> 5.1

# debugging only
nuget Microsoft.Extensions.Logging
nuget NReco.Logging.File ~> 1.1
# /debugging only

nuget Expecto
nuget YoloDev.Expecto.TestSdk

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget Fake.Core.UserInput
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Tools.Git
