source https://api.nuget.org/v3/index.json
framework: net7.0
storage: none

nuget FSharp.Core ~> 7.0
nuget ShellProgressBar ~> 5.2
nuget Colorful.Console ~> 1.2

nuget Expecto
nuget YoloDev.Expecto.TestSdk

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli 6.0.0-alpha004
    nuget Fake.IO.FileSystem 6.0.0-alpha004
    nuget Fake.Core.Target 6.0.0-alpha004
    nuget Fake.Core.UserInput 6.0.0-alpha004
    nuget Fake.DotNet.AssemblyInfoFile 6.0.0-alpha004
    nuget Fake.Core.ReleaseNotes 6.0.0-alpha004
    nuget Fake.Tools.Git 6.0.0-alpha004
